VAULT_ADDR=http://vault-server-1:8200 # Menunjuk ke NAMA SERVICE Vault dari infra
VAULT_TOKEN=roottoken # HANYA UNTUK DEV!
VAULT_CONFIG_PATH=config/prism-auth-service # Path config di Vault
CONSUL_ADDRESS_FOR_DISCOVERY=http://consul-server-1:8500 # Menunjuk ke NAMA SERVICE Consul dari infra
